<h2 class="page-header">Search Book</h2>
<table style="width:100%">
  <tr>

<form action="/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Published After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div class="form-item">
      <label>Published Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
  </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<form action="/books/clear" method="GET">
    <button class="btn btn-danger clear-button" type="submit" style="margin:10px" name="clear">Clear</button>
</form>
</tr>
</table>

<br>
<%- include('../partials/bookGrid', { books: books, large: true }) %>
