<h2 class="page-header">Recently Added</h2>

<div id="widget-container"></div>

<script>
  var signIn = new OktaSignIn({baseUrl: 'https://$https://dev-283097.okta.com'});
  signIn.renderEl({
    el: '#widget-container'
  }, function success(res) {
    if (res.status === 'SUCCESS') {
      console.log('Do something with this sessionToken', res.session.token);
    } else {
    // The user can be in another authentication state that requires further action.
    // For more information about these states, see:
    //   https://github.com/okta/okta-signin-widget#rendereloptions-success-error
    }
  });
</script>

<br>
<%- include('partials/bookGrid', { books: books, large: true }) %>
