<h1>Login</h1>
<form action="/users" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<a href="users/new">Register</a>

<br>
<% users.forEach(user => { %>
  <div class="author-row">
    <div class="user-name"><%= user.name %></div>
    <div class="user-name"><%= user.password %></div>
    <div class="user-name"><%= user.email %></div>
  </div>
<% }) %>
